<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/css/teacherpage.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">



</head>
<body>


    <nav class="navbar  sticky-top navbar-light flex-md-nowrap p-0" style="background-color: #6D7993;">

        <img src="../static/img/car.png" width="70" height="60" alt="">
        

        <h2 class="">Family</h2>

        <div></div>
    </nav>



    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <p></p>
                        <p></p>
                        <p></p>
                        <li class="nav-item">
                            <a class="nav-link" id="dash" href="familypage">
                                <span data-feather="home"></span>
                                <span class="sr-only"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="family-accountinfo">
                                <span data-feather="user"></span>
                                Account Info
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="family-schedule">
                                <span data-feather="file"></span>
                                Schedule
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="family-statistics">
                                <span data-feather="bar-chart-2"></span>
                                Statistics
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="family-donate">
                                <span data-feather="bar-chart-2"></span>
                                Donate Hours
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">
                                <span data-feather="layers"></span>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2" id="name">Account Info</h1>
        </div>


        <div class="container" id="div_content" align="center">

            <h1>Account Information</h1>

        </div>

        <!--display table for showing all the faciliatorschild-->
        <div class="form-group">
            <table class="table table-hover table-light table-bordered table-striped" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Facilitator/Child</th>
                    </tr>
                </thead>
                <tbody>

                    {% for account in accounts %}
                    <tr>
                        <th scope="row"> {{ loop.index }}</th>
                        <td class="first_input">{{ account[2] }}</td>
                        <input type="hidden" name="firstname">
                        <td class="last_input">{{ account[3] }}</td>
                        <input type="hidden" name="lastname">
                        <td class="type_input">{{ account[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>







        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace();
        </script>



        <!-- Dummy Chart -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="http://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


        <!-- Load own script -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!--
    <script src="../static/js/mainpage.js"></script>
    -->



</body>
</html>